body {
  margin: 0px;
}
.custom-container {      
  height: 100vh;
  background: #1b1e24;
  display: flex;       
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 70px;
  padding-top: 20px;
  padding-right: 70px;
}

.main .first-div {
  display: flex;
  width:100%;
}

.main .first-div .search {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.main .first-div #title {
  color: #ffffff;
  width: 50%;
  font-family: 'Roboto', sans-serif;
  
}
.main .first-div #title h2 {
  margin: 0px;
}

.main .first-div .search #searchbox{
  border-color:#999fa8;
  color: #999fa8;
  background-color: #1b1e24;
  width: 300px;
  padding: 7px; 
  outline: none;
  border: 1px solid #999fa8;
  border-radius: 2px;      
  font-family: 'Roboto', sans-serif;      
}

.main .first-div .search #titlebox {
  color:#235d9b;
  border-color: #235d9b;
  background-color: #1b1e24;
  flex: 1;
  float: right;
  padding: 7px;
}

.main .second-div {
  flex:1;
  width:100%;
  margin-top: 20px;
}

.main .second-div .table {
  color:#ffffff;
  width:100%;
  border-bottom: 1px solid #999fa8;
  border-spacing: 0px;
  text-align: center;
}

.main .second-div .table .header {
  background-color: #2b3441;
  font-family: 'Roboto', sans-serif;       
}

.main .second-div .table .header th {
  padding:10px;        
}

.main .second-div .table .body td {
  border-top: 1px solid #999fa8;
  padding: 10px;
}

.main .second-div .table .body td.custom-actions > i {
  margin-right: 10px;
  cursor: pointer;
}

.main .second-div .table th {
  border-bottom: 1px solid #999fa8;
}
.main .actions{
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
}
.main .actions .add-button {
  background: transparent;
  padding: 6px 13px;
  color: #235d9b; 
  font-family: 'Roboto', sans-serif; 
  border: 1px solid #235d9b;
  border-radius: 2px;   
  cursor: pointer; 
  outline: none;
}
.main .actions .add-button:hover {
  border: 1px solid #60a2e9;
  color:#60a2e9;
}

.sidebar {
  height: 100%;
  background-color: #1b1e24;
  width: 115px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #2b3441;
}

.sidebar div.item {
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar div.item:hover:not(.logo) {
  background: #242736;
}

.sidebar div.item img {
  width: 35px;
  height: 35px;
}

.sidebar div.item.logo {
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar div.item.logo img {
  width: 65px;
  height: 65px;
}
.font-color{
  color: #235d9b;
}
