.container {      
    height: 100vh;
    background: #1b1e24;
    display: flex;          
    }
.main{
    flex: 10;
    order:2;
    display: flex;
    flex-direction: column;
}

.first-div {
    display: flex;
} 
.first-div .search{
    flex:1;
    display: flex;
    flex-direction: column;
    padding-top:10px;
}
.first-div #title {
   color: #ffffff;
   flex: 3;
}
.search #searchbox{
    border-color:#999fa8;
    color: #999fa8;
    background-color: #1b1e24;
    flex: 1;   
                      
}
.search #titlebox {
    color:#235d9b;
    border-color: #235d9b;
    background-color: #1b1e24;
    flex: 1;
    float: right;
    
}
.header {
    background-color: #999fa8;
    font-family: 'Roboto', sans-serif;           
}
.table {
    color:#ffffff;
    width:100%;
}
.table th {
    border-top: 1px solid white;
}

.second-div {
    flex:1;
    width:100%;
}

.sidebar {
    height: 100%;
    flex:1;
    order:1;
    background-color: #1b1e24;
    
   
    
}
.sidebar div {
    margin: 0;
    padding: 0;
}
.sidebar a {    
    display: block;
}