.container {      
  height: 100vh;
  background: #1b1e24;
  display: flex;         
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main .first-div {
  display: flex;
}

.main .first-div .search {
  flex:1;
  display: flex;
  flex-direction: column;
  padding-top:10px;
}

.main .first-div #title {
  color: #ffffff;
  flex: 3;
}

.main .first-div .search #searchbox{
  border-color:#999fa8;
  color: #999fa8;
  background-color: #1b1e24;
  flex: 1;            
}

.main .first-div .search #titlebox {
  color:#235d9b;
  border-color: #235d9b;
  background-color: #1b1e24;
  flex: 1;
  float: right;
}

.main .second-div {
  flex:1;
  width:100%;
}

.main .second-div .table {
  color:#ffffff;
  width:100%;
}

.main .second-div .table .header {
  background-color: #999fa8;
  font-family: 'Roboto', sans-serif;           
}

.main .second-div .table th {
  border-top: 1px solid white;
}

.sidebar {
  height: 100%;
  background-color: #1b1e24;
  width: 115px;
}

.sidebar div {
  margin: 0;
  padding: 0;
}

.sidebar a {    
  display: block;
}
