.FirstDiv {
  display: flex;
  width: 100%;
  flex-direction: column;
}
#title {
  color: #ffffff;
  width: 50%;
  font-family: 'Roboto', sans-serif;
}
#title > h2 {
  margin: 0px!important;
}
.search {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#titlebox {
  color: #235d9b;
  border-color: #235d9b;
  background-color: #1b1e24;
  flex: 1;
  float: right;
  padding: 7px;
  margin-top: 10px;
}
#searchbox {
  color: #999fa8;
  background-color: #1b1e24;
  width: 300px;
  padding: 7px;
  outline: none;
  border: 1px solid #999fa8;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  height: 20px;
}
.FirstDiv_title-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.add-button {
  background: transparent;
  padding: 6px 13px;
  color: #235d9b; 
  font-family: 'Roboto', sans-serif; 
  border: 1px solid #235d9b;
  border-radius: 2px;   
  cursor: pointer; 
  outline: none;
}

.add-button:hover {
  border: 1px solid #60a2e9;
  color:#60a2e9;
}

.FirstDiv_actions-container {
  display: flex;
  justify-content: flex-end;
}

